h1 {
    text-align:center;
    padding:4px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;

}


#body {
    padding-bottom: 40px;
}
#footer {
    bottom: 1%;
    height: 95px;
    left: 79.6%;
    position: absolute;
    right: 0;
}