@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Пожалуйста воспользуйтесь регистрацией или входом для использования всего инструментария.</p>
</div>
