@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.Data;
@using CinemaSchedule.Views.Profile;
@using CinemaSchedule.Areas.Identity.Data

@model CinemaSchedule.Models.AddCinemaViewModel

@{
    ViewData["Title"] = "Создание кинотеатра";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var userAuth = await UserManager.GetUserAsync(User);
}

<h1>Создание кинотеатра</h1>

<form method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Название кинотеатра</label>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(m => m.CinemaName, null, new { @class = "text-danger" })
            <input type="text" class="form-control" asp-for=CinemaName>
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Адрес кинотеатра</label>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(m => m.CinemaAddress, null, new { @class = "text-danger" })
            <input type="text" class="form-control" asp-for=CinemaAddress>
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание кинотеатра</label>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(m => m.CinemaDescription, null, new { @class = "text-danger" })
            <textarea class="form-control" rows="5" asp-for="CinemaDescription"></textarea>
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
</form>