@using Microsoft.AspNetCore.Identity
@using CinemaSchedule.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var userAuth = await UserManager.GetUserAsync(User);
}
<ul class="nav me-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a style="color:black " class="nav-link link-body-emphasis px-2" asp-area="" asp-controller="Home" asp-action="Index">CinemaSchedule</a>
        </li>
        <li class="nav-item">
            <a style="color:black " asp-controller="Cinema" asp-action="CinemaProfile" class="nav-link link-body-emphasis px-2">Мой кинотеатр</a>
        </li>
        <li class="nav-item">
            <a style="color:black " asp-controller="Members" asp-action="Members" class="nav-link link-body-emphasis px-2">Пользователи</a>
        </li>
        <li class="nav-item">
            <a style="color:black " asp-controller="Movies" asp-action="Movies" asp-route-id="@userAuth.cinemaID" class="nav-link link-body-emphasis px-2">Фильмы</a>
        </li>
        <li class="nav-item">
            <a style="color:black " asp-controller="Schedule" asp-action="Schedule" asp-route-date="@DateTime.Now.ToString("yyyy-MM-dd")" class="nav-link link-body-emphasis px-2">Расписание</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a style="color:black " class="nav-link link-body-emphasis px-2" asp-area="" asp-controller="Home" asp-action="Index">CinemaSchedule</a>
        </li>
        <li class="nav-item">
            <a style="color:black "  href="#" class="nav-link link-body-emphasis px-2">Цены</a>
        </li>
        <li class="nav-item">
            <a style="color:black "  href="#" class="nav-link link-body-emphasis px-2">О Приложении</a>
        </li>
    }
</ul>